//variables
$blancoPrimario:rgb(226, 226, 226);
$blancoSegundario:rgb(200,200,200);
$colorAzulPrimario:rgb(0, 162, 255);
$colorNegroSegundario:rgb(32, 32, 32);
$colorNegroTerciario:rgb(44, 44, 44);

//mixin
@mixin boton{
    background: $colorNegroTerciario;
    box-shadow:2px 2px 0 rgb(0, 81, 255);
    border:none;
    transition: all .3s;
    color: white;
    padding:10px;
    font-size: 20px;
    cursor: pointer;
    &:focus{
        background:$colorAzulPrimario;
        outline: none;
    }
    &:hover{
        background:$colorAzulPrimario;
    }          
    
}
@mixin itemListHover{
    animation: animationMoveText;
    animation-duration: 500ms;
    animation-timing-function: linear;
    @keyframes animationOpacity1{
        from{
            transform: scale(1.05);
        }
        to{
            transform: scale(1);
        }
    }
}
//GLOBAL CLASS
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Montserrat',sans-serif;
}
a{
    color: white;
    text-decoration: none;
    &:hover{
        text-decoration: underline;        
    }
}
a,
p,
li,
span{
    font-size:18px;
}
.animationOpacity{
    animation: animationOpacity1;
    animation-duration: 1500ms;
    animation-timing-function: linear;

    @keyframes animationOpacity1{
        from{
            opacity: 0;
        }
        to{
            opacity:1;
        }
    }
}
.shadowBox{
    box-shadow:0 1px 4px black;
}
.boton{
    @include boton();
    background: $colorAzulPrimario;
    color: rgb(0, 0, 0);
    padding:10px;
    font-size: 20px;
    cursor: pointer;
    &:focus{
        background:$colorNegroTerciario;
        color: white;
        outline: none;
    }
    &:hover{
        background:$colorNegroTerciario;
        color: white;
        outline: none;
    }  
}
//body class
body{    
    background: $colorNegroTerciario;
    height: 100vh;
    &::-webkit-scrollbar{
        width: 12px;
    }
    &::-webkit-scrollbar-track-piece{
        background:$colorAzulPrimario;
    }
    &::-webkit-scrollbar-thumb{
        background: rgba(255, 255, 255, 0.63);
        border-radius: 7px;
        box-shadow:0 0 5px black;
    }
}

//------------------------------------------------------SIDEBAR--------------------------------------------------


.sidebar{
    position: fixed;
    z-index: 5;
    height: 100vh;
    width: 20vw;
    background: black;
    text-transform: uppercase;
    text-align:center;
    //animation
    transform: translateX(0vw);
    transition: all .3s linear;
    ul{
        li{
            border-bottom: 1px solid white;
            padding:20px;
            img{
                width: 65%;
                padding:5%;
                margin: auto;
                display: block;                
            }
        }
    }
    .icono-sidebar-desplegable{
        position: absolute;
        left: 21vw;
        background: black;
        color: White;
        padding: 10px;
        margin: 10px 0;
        font-size:25px;
        transition: all .3s linear;
        cursor: pointer;
    }
}
.sidebar.active{
    transform: translateX(-20vw);   
}
//============================================HEADER=================================================
header{
    background: $colorNegroSegundario;
    z-index: 4;
    //Global Class
    a{
        &:hover{
            text-decoration: none;
        }
    }
    li{
        display: inline-block;
        padding: 0 10px;
        transition: all .3s;
        &:hover{
            background: #3b3b3b;
        }
        
    }
    //CODE PURO
    display: grid;
    grid-template-columns:1fr 4fr;
    align-items: center;
    justify-content: center;
    justify-items: center;
    .ctn-img-menu{
        padding: 2%;
        .img-menu{
            width: 140px;
        }
    }
    .ctn-menu-list{
        justify-self:flex-end;
        padding-right:50px;
        ul{
            li{
                ul{
                    position: absolute;
                    background: $colorAzulPrimario;
                    transform: translateX(-13px) translateY(50px);
                    opacity: 0;
                    visibility: hidden;
                    transition: all .3s linear;
                    li{
                        display: block;
                        position: relative;
                        padding: 10px;
                    }
                }
                &:hover{
                    ul{
                        transform:translateX(-13px) translateY(0);
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
        }
    }
    .boton-responsive-menu{
        display: none;
    }
}
//------------------------------------------------------MAIN--------------------------------------------------
main{
    background: $colorNegroTerciario;
    height: 92%;
    gap: 1%;
    display: grid;
    grid-template-columns:1fr 0.28fr;
    //LISTA DE CURSOS
    .cnt-list-curso{
        height: 100%;
        background:black;
        overflow-y: scroll;
        &::-webkit-scrollbar{
            width: 12px;
        }
        &::-webkit-scrollbar-track-piece{
            background:rgb(0, 98, 255);
        }
        &::-webkit-scrollbar-thumb{
            background: rgba(255, 255, 255, 0.63);
            border-radius: 7px;
            box-shadow:0 0 5px black;
        }
        //ITEMS CURSO
        .item-list{
            color: white;
            background-color:$colorNegroSegundario ;
            padding:15px 5px;
            margin:1px 0;
            display: flex;
            align-items: center;
            gap: 0 15px;
            transition: all .3s;
            cursor: pointer;
            //HOVER
            &:hover{
                background: rgb(73, 73, 73);
                box-shadow:0 0 4px $colorNegroTerciario;
                p{
                    text-shadow: 0 1px 1px $colorAzulPrimario;
                }
            }
            //Numero del Principio
            p{
                transition: all .3s;
                &:nth-child(1){
                    text-align: center;
                    font-weight: bolder;
                    background: $colorNegroTerciario;
                    padding: 5px;
                    border-radius: 2px;
                }
            }
        }
        #finalCurso{
            text-align: center;
            display: flex;
            justify-content: center;
            transition: all .5s;
            p{
                transition: all .5s;
                &:nth-child(1){
                    background-color: $colorAzulPrimario;
                    padding: 10px;
                }
                &:nth-child(2){
                    display: none;
                }
            }
            &:hover{
                p{
                    &:nth-child(2){
                        display: block;
                        animation: animationOpacity1;
                        animation-duration: 1500ms;
                        animation-timing-function: linear;
                        @keyframes animationOpacity1{
                            from{
                                opacity: 0;
                            }
                            to{
                                opacity:1;
                            }
                        }
                    } 
                }
                background: rgb(73, 73, 73);
                p{
                    text-shadow: 0 1px 1px $colorAzulPrimario;
                }
            }
        }
    }
    //Global Class
    .ctn-video-curso{
        background:$colorAzulPrimario;
        padding: 1%;
       .video-curso{
            width: 100%;
            height: 100%;
        } 
    }
}
/*





MEDIA QUERIES





*/
@media (max-width:1024px){
    //MAIN
    main{
        background: $colorNegroTerciario;
        height: 92%;
        gap: 1%;
        display: grid;
        grid-template-columns:1fr;
        //LISTA DE CURSOS
        .cnt-list-curso{
            height: 100%;
            background:black;
            overflow-y: scroll;
            &::-webkit-scrollbar{
                width: 12px;
            }
            &::-webkit-scrollbar-track-piece{
                background:rgb(0, 98, 255);
            }
            &::-webkit-scrollbar-thumb{
                background: rgba(255, 255, 255, 0.63);
                border-radius: 7px;
                box-shadow:0 0 5px black;
            }
            //ITEMS CURSO
            .item-list{
                padding:10px 5px;
                margin:1px 0;
                gap: 0 10px;
            }
        }
        //Global Class 
        .ctn-video-curso{
            box-shadow: 0 0 5px white;
            padding: 1%;
           .video-curso{
                width: 100%;
                height: 55vmin;
            } 
        }
        
    }

}

@media (max-width:768px){
    //SIDEBAR
    .sidebar{
        width: 40vw;
        .icono-sidebar-desplegable{
            left: 41vw;
        }        
    }
    .sidebar.active{
        transform: translateX(-40vw);   
    }
    //header
    header{
        //Global Class
        li{
            display:block;
            padding:10px;
            &:hover{
                background: none;
            }            
        }
        //CODE PURO
        grid-template-columns:1fr 1fr;
        .ctn-menu-list{
            position: fixed;
            height: 100vh;
            width: 50vw;
            background: $colorAzulPrimario;
            right: 0vw;
            top: 72px;
            padding-right:0px;
            transition: all .3s linear;
            ul{
                li{
                    ul{
                        position: sticky;
                        padding: 0 15px;
                        background: none;
                        transform: translateY(0px);
                        opacity: 1;
                        visibility: visible;
                        li{
                            a{
                                color: black;
                            }
                            position: sticky;
                            padding: 10px;
                        }
                    }
                    &:hover{
                        ul{
                            transform:none;
                        }
                    }
                }
            }
        }
        .ctn-menu-list.menuResponsive{
            right: -50vw;
        }
        .boton-responsive-menu{
            justify-self: flex-end;
            margin-right: 50px;
            display: block;
            @include boton();
        }
    }
    //MAIN
    main{
        a,
        p,
        li,
        span{
            font-size:15px;
        }  
    }  
}
@media (max-width:414px){
    //SIDEBAR
    .sidebar{
        width: 84vw;
        transform: translateX(0vw);
        .icono-sidebar-desplegable{
            left: 85vw;
            top: 0vh; 
        } 
    }
    .sidebar.active{
        transform: translateX(-90vw);
        .icono-sidebar-desplegable{
            left: 92vw;
            top: 8vh;
                       
        }      
    }
    //HEADER
    header{
        //Global Class
        //CODE PURO
        .ctn-menu-list{
            position: fixed;
            height: 100vh;
            width: 60vw;
            background: $colorAzulPrimario;
            right: 0vw;
            top: 64px;
            ul{
                li{
                    ul{
                        position: sticky;
                        padding: 0 15px;
                        background: none;
                        transform: translateY(0px);
                        opacity: 1;
                        visibility: visible;
                        li{
                            a{
                                color: black;
                            }
                            position: sticky;
                            padding: 10px;
                        }
                    }
                    &:hover{
                        ul{
                            transform:none;
                        }
                    }
                }
            }
        }
        .ctn-menu-list.menuResponsive{
            right: -60vw;
        }
        .boton-responsive-menu{
            justify-self: flex-end;
            margin-right: 30px;
            display: block;
            @include boton();
        }
    }
    //MAIN
    main{
        a,
        p,
        li,
        span{
            font-size:13px;
        }  
    } 
}